@media (max-width: 1200px) {
    .categories-container {
        padding: 0 40px;
    }
}

@media (max-width: 1024px) {
    .news-container {
        margin-bottom: 80px;
    }
    .categories-container {
        padding: 0 20px;
    }
}

@media (max-width: 760px) {
    .categories-container {
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 56px;
    }
    .categories_column {
        flex-basis: 40%;
        margin-bottom: 30px;
        padding: 0 10px;
    }
    .news-container {
        margin-bottom: 70px;
    }
}

@media (max-width: 640px) {
    .news-container {
        margin-bottom: 50px;
    }
}

@media (max-width: 540px) {
    .categories_column {
        flex-grow: 1;
    }
}

@media (max-width: 440px) {
}

@media (max-width: 340px) {
    .categories_heading h2 {
        padding-bottom: 20px;
        display: block;
    }
    .categories_heading span {
        margin-left: 5%;
    }
    .categories_heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
}
