.categories_heading {
    display: flex;
    flex-direction: row;
    /* border: 2px dashed black; */
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto 64px;
}

.categories_heading h2 {
    margin: 0;
    font-family: "Work Sans Bold";
    font-size: 32px;
    color: #151c22;
}

.categories_heading span {
    position: relative;
    top: -3px;
    left: -6px;
    font-family: "Work Sans";
    font-size: 18px;
}

.categories_heading span a {
    color: #151c22;
}

.categories_heading span::after {
    content: "";
    position: absolute;
    left: -5px;
    bottom: -3px;
    display: block;
    width: 80px;
    max-height: 1.5px;
    padding-bottom: 2px;
    background-color: #151c22;
}

.categories-container {
    display: flex;
    justify-content: center;
    /* border: 3px dashed royalblue; */
    padding: 0 83px;
    margin-bottom: 106px;
}

.categories_column {
    width: 270px;
    /* border: 2px dotted lawngreen; */
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories_column img {
    max-width: 100%;
    width: 270px;
    height: auto;
}

.categories_name {
    font-family: "Work Sans";
    font-size: 18px;
    color: #151c22;
}


