.news_heading {
    display: flex;
    flex-direction: row;
    /* border: 2px dashed black; */
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto 64px;
}

.news_heading h2 {
    display: contents;
    margin: 0;
    font-family: "Work Sans Bold";
    font-size: 32px;
    color: #151c22;
}

.news_heading span {
    position: relative;
    top: -1px;
    left: -6px;
    font-family: "Work Sans";
    font-size: 18px;
}

.news_heading span a {
    color: #151c22;
}

.news_heading span::after {
    content: "";
    position: absolute;
    left: -5px;
    bottom: -3px;
    display: block;
    width: 80px;
    max-height: 1.5px;
    background-color: #151c22;
    padding-bottom: 2px;
}

.news-container {
    /* border: 3px dashed orange; */
    /* display: flex; */
    position: relative;
    margin: 0 auto 100px;
    max-width: 1170px;
    height: 462px;
}

.news_img {
    position: absolute;
}

.news-lines {
    position: absolute;
    right: 0;
}

.news-text-container {
    background-color: #f1f2f4;
    max-width: 357px;
    height: 366px;
    position: absolute;
    /* left: 700px; */
    left: 59.82%;
    top: 30px;
    padding-left: 43px;
    padding-top: 32px;
}

.news-h3 {
    font-family: "Work Sans Bold";
    font-size: 24px;
    color: #151c22;
    width: 368px;
    margin-bottom: 32px;
}
.news-date {
    font-family: "Work Sans Regular";
    font-size: 18px;
}
.news-text {
    font-family: "Work Sans Regular";
    font-size: 18px;
    color: #727a82;
    width: 310px;
    margin-top: 12px;
    margin-bottom: 25px;
}

.button-container-2 {
    background-color: #151c22;
    width: 200px;
    height: 64px;
    display: flex;
    text-decoration: none;
}

.button-2 {
    position: relative;
    left: 45px;
    top: 22px;
    font-size: 16px;
    font-family: "Work Sans Bold";
    color: #fff;
}
