body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    /* max-width: 1366px; */
    /* min-width: 320px; */
    /* min-width: 1366px; */
    /* border: 2px dotted black; */
}

.main-header-container {
    max-width: 1170px;
    /* min-width: 320px; */
    /* background-color: aliceblue; */
    /* min-height: 64px; */
    /* border: 5px dotted red; */
    margin: 0 auto 12px;
    padding: 0 8.37%;
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    /* border: 3px dashed violet; */
    width: 91.96%;
    display: flex;
    align-items: center;
    margin-right: 15%;
}

.logo {
    /* border: 2px dashed orange; */
    font-size: 24px;
    font-family: "Work Sans Extra Bold";
    color: #151c22;
    width: 16.06%;
    position: relative;
    left: 27px;
    top: 5px;
}

.site-navigation {
    position: relative;
    top: 10px;
    right: 1px;
    /* border: 1px dotted blue; */
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    width: 50%;
    margin-right: 9.94%;
    flex-wrap: wrap;
}

.site-navigation-item {
    display: inline-block;
    color: #151c22;
    padding-right: 35px;
    padding-bottom: 10px;
    font-size: 16px;
    font-family: "Work Sans";
}

.site-navigation li:last-child a {
    padding-right: 0;
}

.user-navigation {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    /* border: 3px dashed deeppink; */
    width: 15%;
    position: relative;
    top: 8px;
    left: 3px;
    padding: 0;
}

.user-navigation-item {
    display: inline-block;
    padding-right: 35px;
}

.user-navigation-item:last-child {
    padding-right: 0;
}

.promo-container {
    position: relative;
    max-width: 1366px;
    height: 617px;
    background-color: #f1f2f4;
    margin: 0 auto 120px;
}

.arrow {
    position: absolute;
    top: 540px;
    left: 97px;
}

.text-container {
    /* border: 2px dashed deeppink; */
    padding: 0;
    margin: 0;
    position: absolute;
    left: 19.03%;
    top: 188px;
    display: flex;
    flex-direction: column;
}

.small-text {
    position: relative;
    left: 8px;
    font-family: "Work Sans";
    font-size: 18px;
    padding: 0;
    margin: 0 0 -20px;
    color: #727a82;
}

.big-text {
    position: relative;
    top: -6px;
    left: 3px;
    font-family: Anton;
    font-size: 128px;
    padding: 0;
    margin: 0 0 -30px;
    color: #151c22;
}

.button-container {
    position: absolute;
    top: 383px;
    left: 19.62%;
    background-color: #151c22;
    width: 219px;
    height: 64px;
    display: flex;
    text-decoration: none;
}

.button {
    position: relative;
    left: 24px;
    top: 23px;
    font-size: 16px;
    font-family: "Work Sans Bold";
    color: #fff;
}

.promo-img-container {
    /* border: 3px dashed violet; */
    position: relative;
    display: flex;
    top: 0;
    left: 45.24%;
    width: 530px;
    height: 100%;
    /* left: 618px; */
    width: 38.8%;
}

.img-lines-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 232px;
    height: 176px;
}

.img-lines-2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 232px;
    height: 176px;
}

.promo-picture {
    /* position: absolute; */
    z-index: 1;
    margin: auto auto;
    /* top: 8.1%; */
    /* left: 9.43%; */
    width: 430px;
    /* height: 517px; */
    max-width: 100%;
    height: auto;
    /* width: 81.13%; */
}

.bestsellers_heading {
    display: flex;
    flex-direction: row;
    /* border: 2px dashed black; */
    padding: 0 5%;
    justify-content: space-between;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto 64px;
}

.bestsellers_heading h2 {
    margin: 0;
    font-family: "Work Sans Bold";
    font-size: 32px;
    color: #151c22;
}

.bestsellers_heading span {
    position: relative;
    top: -1px;
    left: -6px;
    font-family: "Work Sans";
    font-size: 18px;
}

.bestsellers_heading span a {
    color: #151c22;
}

.bestsellers_heading span::after {
    content: "";
    position: absolute;
    left: -5px;
    bottom: -3px;
    display: block;
    width: 80px;
    max-height: 1.5px;
    background-color: #151c22;
    padding-bottom: 2px;
}

.bestsellers-container {
    display: flex;
    justify-content: center;
    /* border: 3px dashed royalblue; */
    padding: 0 83px;
    margin-bottom: 93px;
}

.column {
    /* flex-grow: 1; */
    /* max-width: 100%; */
    width: 270px;
    /* border: 2px dotted lawngreen; */
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column img {
    max-width: 100%;
    width: 270px;
    height: auto;
}

.description {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.description p {
    margin: 0;
    padding: 3px 0;
}

.bestseller_name {
    font-family: "Work Sans";
    font-size: 18px;
    color: #151c22;
}

.price {
    font-family: "Work Sans Bold";
    font-size: 16px;
    color: #151c22;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    /* background-color: antiquewhite; */
}

footer {
    /* background-color: azure; */
}

@font-face {
    font-family: "Work Sans";
    src: url(fonts/WorkSans-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Work Sans Regular";
    src: url(fonts/WorkSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Work Sans Bold";
    src: url(fonts/WorkSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Work Sans Extra Bold";
    src: url(fonts/WorkSans-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: "Anton";
    src: url(fonts/Anton-Regular.ttf) format("truetype");
}
