section.promo.page__promo
  //- .promo-container
  a.promo__arrow-link
    img.promo__arrow-img(src=require('../img/arrow.svg'), width='12', height='29')
  .promo__text-container
    p.promo__small-text The quality you deserve
    p.promo__big-text DENIM
  a.promo__button.button(href='#')
    span.button__text
      | Check new
      | collection
  .promo__img-container
    img.promo__img-lines-top(src=require('../img/diagonal_btt.png'))
    img.promo__img-lines-bottom(src=require('../img/diagonal_ttb.png'))
    img.promo__picture(src=require('../img/img_promo.jpg'))
