@import "../utils/background-opacity.scss";

.promo {
  max-width: 1366px;
  height: 617px;
  background-color: #f1f2f4;
  position: relative;
  &__arrow-link {
    position: absolute;
    top: 540px;
    left: 97px;
  }

  &__arrow-img {
  }

  &__text-container {
    // border: 3px red solid;
    position: absolute;
    left: 19.2%;
    top: 188px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  &__small-text {
    position: relative;
    left: 6px;
    padding: 0;
    margin: 0 0 7px;
    font-family: "Work Sans";
    font-size: 18px;
    color: #727a82;
  }

  &__big-text {
    padding: 0;
    margin: 0;
    font-family: "Anton";
    font-size: 128px;
    color: #151c22;
    line-height: 1;
  }

  &__button {
    position: absolute;
    top: 383px;
    left: 19.62%;
    width: 219px;
  }

  &__img-container {
    width: 530px;
    height: 100%;
    position: relative;
    display: flex;
    top: 0;
    left: 45.24%;
  }

  &__img-lines-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 232px;
    height: 176px;
  }

  &__img-lines-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 232px;
    height: 176px;
  }

  &__picture {
    z-index: 1;
    margin: auto auto;
    width: 430px;
    // height: auto;
    height: 517px;
  }
}
.page__promo {
  margin: 0 auto 120px;
}

@media (max-width: 1200px) {
  .promo__text-container {
    left: 8%;
  }
  .promo__button {
    left: 10%;
  }
  .promo {
    height: 600px;
  }
}

@media (max-width: 1024px) {
  .page__promo {
    margin-bottom: 80px;
  }
  .promo {
    height: 560px;
  }
  .promo__img-container {
    width: 400px;
    left: 45%;
  }
  .promo__text-container {
    @include background-opacity(#f1f2f4);
    top: 280px;
    left: 13%;
    z-index: 2;
  }
  .promo__button {
    left: 17%;
    top: 443px;
    z-index: 2;
  }
  .promo__small-text {
    color: white;
    text-shadow: black 0 0 5px;
  }
  .promo__arrow-link {
    top: 450px;
    left: 10%;
  }
}

@media (max-width: 760px) {
  .promo__img-container {
    left: 30%;
  }
  .promo__text-container {
    @include background-opacity(#f1f2f4);
    top: 280px;
    left: 10%;
  }
  .promo__button {
    left: 13%;
    top: 443px;
  }
  .promo__small-text {
    color: white;
    text-shadow: black 0 0 5px;
  }
  .promo__arrow-link {
    display: none;
  }
  .page__promo {
    margin-bottom: 70px;
  }
}

@media (max-width: 640px) {
  .page__promo {
    margin-bottom: 50px;
  }

  .promo__img-container {
    width: 80%;
    left: 10%;
  }

  .promo__img-lines-top {
    width: 43.77%;
    height: auto;
  }

  .promo__img-lines-bottom {
    width: 43.77%;
    height: auto;
  }

  .promo__picture {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 540px) {
  .promo {
    height: 100%;
  }
  .promo__small-text {
    font-size: 14px;
    padding-bottom: 5px;
  }
  .promo__big-text {
    font-size: 120px;
  }

  .promo__text-container {
    top: 48%;
    max-width: 100%;
  }

  .promo__button {
    top: 82%;
  }
}

@media (max-width: 440px) {
  .promo__img-container {
    width: 100%;
    left: 0;
  }
  .promo__small-text {
    padding-bottom: 5px;
  }

  .promo__text-container {
    top: 48%;
    max-width: 100%;
  }
  .promo__img-lines-top,
  .promo__img-lines-bottom {
    display: none;
  }
}

@media (max-width: 340px) {
  .promo__small-text {
    padding-bottom: 5px;
  }
  .promo__big-text {
    font-size: 110px;
  }

  .promo__text-container {
    top: 45%;
  }
  .promo__button {
    top: 79%;
  }
}
