section.categories
  .categories__heading.heading
    h2.heading__name Shop by category
    span.heading__view-all
      a.link.link_dark.link_big(href='#') View all
  .categories__product-cards.product-cards
    .product-cards__column
      a(href='#')
        img.product-cards__img(src=require('../img/category_1.png'), alt='categories', width='270', height='349')
      a.link.link_dark.link_big(href='#')
        p.product-cards__name Jeans
    .product-cards__column
      a(href='#')
        img.product-cards__img(src=require('../img/category_2.png'), alt='categories', width='270', height='349')
      a.link.link_dark.link_big(href='#')
        p.product-cards__name Shirts
    .product-cards__column
      a(href='#')
        img.product-cards__img(src=require('../img/category_3.png'), alt='categories', width='270', height='349')
      a.link.link_dark.link_big(href='#')
        p.product-cards__name Jackets
    .product-cards__column
      a(href='#')
        img.product-cards__img(src=require('../img/category_4.png'), alt='categories', width='270', height='349')
      a.link.link_dark.link_big(href='#')
        p.product-cards__name Overalls
