section.bestsellers
  .bestsellers__heading.heading
    h2.heading__name Bestsellers
    span.heading__view-all
      a.link.link_dark.link_big(href='#') View all
  .bestsellers__product-cards.product-cards
    .product-cards__column
      a(href='#')
        img.product-cards__img(src=require('../img/bestsellers_1.png'), alt='bestseller')
      .product-cards__description
        a.link.link_dark.link_big(href='#')
          p.product-cards__name Jacket
        p.product-cards__price $120
    .product-cards__column
      a(href='#')
        img.product-cards__img(src=require('../img/bestsellers_2.png'), alt='bestseller')
      .product-cards__description
        a.link.link_dark.link_big(href='#')
          p.product-cards__name Overalls
        p.product-cards__price $140
    .product-cards__column
      a(href='#')
        img.product-cards__img(src=require('../img/bestsellers_3.png'), alt='bestseller')
      .product-cards__description
        a.link.link_dark.link_big(href='#')
          p.product-cards__name Jacket
        p.product-cards__price $90
    .product-cards__column
      a(href='#')
        img.product-cards__img(src=require('../img/bestsellers_4.png'), alt='bestseller')
      .product-cards__description
        a.link.link_dark.link_big(href='#')
          p.product-cards__name Overalls
        p.product-cards__price $160
