section.news
  .news__heading.heading
    h2.heading__name News
    span.heading__view-all
      a.link.link_dark.link_big(href='#') View all
  .page__news.news__container
    img.news__img-lines(src=require('../img/diagonal_ttb_2.png'), width='470', height='462')
    img.news__picture(src=require('../img/news_img.png'))
    .news__text-container
      h3.news__h3
        | G- Star Updates Its Sustainable
        | Collection
      span.news__date Feb 12, 2020
      p.news__text
        | G-Star Raw is pushing the
        | sustainability movement forward with a collection of
        | stretch denim items for spring 2020 which is
        | particularly designed for reuse...
      a.news__button.button(href='#')
        span.button__text
          | Read
          | more ...
