footer.main-footer.page__main-footer
  //- .container-2
  //- .main-footer-container
  a.main-footer__logo.logo.logo_white(href='#') Nîmes
  ul.main-footer__site-nav.site-nav
    li.site-nav__item
      a.site-nav__link.link.link_white.link_big(href='#') Shop
    li.site-nav__item
      a.site-nav__link.link.link_white.link_big(href='#') Delivery
    li.site-nav__item
      a.site-nav__link.link.link_white.link_big(href='#') Service
    li.site-nav__item
      a.site-nav__link.link.link_white.link_big(href='#') Sitemap
    li.site-nav__item
      a.site-nav__link.link.link_white.link_big(href='#') Contacts
  ul.main-footer__social-media.social-media
    li
      a.social-media__item(href='#')
        img.social-media__img(src=require('../img/facebook.svg'))
    li
      a.social-media__item(href='#')
        img.social-media__img(src=require('../img/insta.svg'))
    li
      a.social-media__item(href='#')
        img.social-media__img(src=require('../img/pinterest.svg'))
    li
      a.social-media__item(href='#')
        img.social-media__img(src=require('../img/twitter.svg'))
